@import "./variables.css";

.blogListContainer{
    max-width: 70dvw;
    padding-bottom: 3ch;
    padding-right: 1.5ch;
    max-height: calc(90vh - var(--bottom-nav-height) - var(--top-nav-height) - 95px);
    overflow-y: scroll;
}

#paginatorContainer{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 1ch;
    border-top: 2px solid white;
    border-left: solid 2px white;
}


@media screen and (orientation: portrait) and (max-width: 800px) {
    .blogListContainer{
        max-height: calc(70 * var(--vh) - var(--bottom-nav-height) - var(--top-nav-height) - 95px);
    } 
}



@media screen and (orientation: landscape) and (max-height: 500px) {
    .blogListContainer{
        max-height: calc(85vh);
    }
}