.folderIcon{
    width: 100px;
    height: 100px;
    margin: 0;
}

.projectTitle{
    text-align: center;
    margin-bottom: 1ch;
    margin-left: 0;
    margin-right: 0;
    margin-top: -2ch;
    max-width: 100px;

}

.folderContainer{
    margin-bottom: 1ch;
}

.folderContainer:hover{
    outline: 2px solid rgb(17, 142, 226);
    background-color: rgba(17, 142, 226, 0.288);
    cursor: pointer;
}

