.imageDisplayHeader{
    display: inline;
    margin: 0;
    padding-left: 1ch;
    color: white;
    font-size: small;
}

.imageDisplayContainer{
    box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.75);
    background-color: rgb(223, 223, 223);
    padding-bottom: 1ch;
    margin-bottom: 2ch;
    
    margin-left: auto;
    margin-right: auto;
    
}

.imageDisplayToolbar{
    display: flex;
    align-items: center;
    background-color: rgb(145, 145, 145); 
    border-bottom: solid white 1px;

}

.imageDisplayButtons{
    display: inline;
    margin-left: auto;
    margin-right: 0.5ch;
}

.idbutton{
    padding-top: 0.5ch;
    padding-bottom: 0.5ch;
    margin-bottom: 0.5ch;
    color: black;
    font-weight: bold;
    font-size: 1ch;
    border-top: solid 2px white;
    border-left: solid white 2px;
    background-color: rgb(223, 223, 223);
}


.imageDisplayBody{
    display: flex;
    flex-direction: row;
    padding-top: 1ch;
    padding-bottom: 1ch;
    padding-left: 0.5ch;
    padding-right: 1ch;

}

/* PAINT SQUARES SIZE AND STYLES */

.paintSquare{
    width: 3ch;
    height: 3ch;
    border-top: solid 3px black;
    border-left: solid 3px black;
    border-bottom: solid 2px white;
    border-right: solid 2px white;
   
}

.paintSquare:hover{
    outline: solid blue 3px;
}

.imageDisplayColorBar {
  display: grid;
  grid-template-columns: repeat(2, 3ch); 
  column-gap: 1ch; 
  row-gap: 1ch;
}

.imageDisplayContent{
    width: calc(100% - 2ch - 9ch);
    object-fit: contain;
    border-top: solid black 3px;
    margin-left: 2ch;
    border-bottom: solid white 2px;
    border-right: solid white 2px;
    border-left: solid black 3px;
    background-color: white;

    object-fit: cover;
    max-height: calc(10 * 3ch + 10 * 1ch); 
}


.imageDisplayMenu{
    margin: 0;
    padding-left: 1ch;
    display: inline;
}



@media (max-width: 599.99px){
      /* Styles for larger phones */
  .imageDisplayContent{
    margin-right: auto;
    width: 100%;
    margin-left: auto;

  }
  .imageDisplayContainer{
    width: fit-content;
  }
  .imageDisplayBody{
    flex-direction: column;
  }
  
  .imageDisplayColorBar{
    grid-template-columns: repeat(9, 1.5ch); 
    margin-bottom: 1ch;
    column-gap: 1ch;
    margin-left: auto;
    margin-right: 1ch;

  }

  .paintSquare{
    width: 1.5ch;
    height: 1.5ch;
  }

  .imageDisplayToolbar{
    width: 100%;
  }
  
  .imageDisplayMenu{
    font-size: 90%;
  }


}
/* Small devices (phones, 576px and up) */
@media (min-width: 600px) and (max-width: 800px) {
  /* Styles for larger phones */
  .imageDisplayContent{
    margin-right: auto;
    width: 100%;
    margin-left: auto;

  }
  .imageDisplayContainer{
    width: fit-content;
  }
  .imageDisplayBody{
    flex-direction: column;
  }
  
  .imageDisplayColorBar{
    grid-template-columns: repeat(18, 2ch); 
    margin-bottom: 1ch;
    column-gap: 1ch;
    margin-left: auto;
    margin-right: 1ch;

  }

  .paintSquare{
    width: 2ch;
    height: 2ch;
  }

  .imageDisplayToolbar{
    width: 100%;
  }
  
  .imageDisplayMenu{
    font-size: 90%;
  }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Styles for tablets */

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  /* Styles for small desktops/laptops */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  /* Styles for large desktops */
}