.loaderContainer{
    margin-left: auto;
    margin-right: auto;
    margin-top: 3ch;
}

.loadingMessage{
    font-size: 5ch;
    margin-left: auto;
    margin-right: auto;
}

.loadingIcon{
    margin-left: auto;
    margin-right: auto;
}