.paginatorButton, .paginatorMiddle{
    display: inline;
}

.paginatorButton{
    border-top: solid 2px white;
    border-left: solid 2px white;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    background-color: rgb(223, 223, 223);
}


.paginatorContainer{
    display: flex;
    flex-direction: column;
    
}

.paginatorButtonRight{
    margin-left: auto;
}


.paginatorDivitContainer{
    background-color: rgb(223, 223, 223);
    display: flex;
    gap: 2ch;
    justify-content: space-between;
    padding-top: 1ch;
    padding-bottom: 1ch;
    padding-left: 1ch;
    padding-right: 1ch;
}

.paginatorDivit{
    width: 33%;
    border-right: solid white 2px;
    border-bottom: solid white 2px;
    border-top: solid gray 2px;
    border-left: solid gray 2px;
    font-size: 1.75ch;
}

.paginatorContainer{
    box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.75);
    height: fit-content;
    max-height: 90px;
}

.arrowContainer{
    display: flex;
    background-color: rgb(223, 223, 223);
    border-bottom: solid white 1px;
    border-top: solid white 1px;
}

.paginatorTitle{
    background-color: rgb(145, 145, 145); 
    margin-bottom: 0;
    margin-top: 0;
    color: white;
    padding-left: 1ch;
    
}

.paginatorButton:disabled{
    cursor: not-allowed;
}

.paginatorButton:hover:enabled{
    outline: 2px solid rgb(17, 142, 226);
    background-color: rgba(17, 142, 226, 0.288);
    cursor: pointer;
}
