.contentInputContainer{
    background-color: rgb(145, 145, 145); 
    margin-right: 1ch;
    box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.75);
    height: fit-content;
    
}

.projectInputTitle{
    color: white;
    font-weight: normal;
    margin: 0;
    padding-top: 0.5ch;
    padding-bottom: 0.5ch;
    padding-left: 1ch;
    border-bottom: solid 1px white;

}

.projectInputContainer{
    background-color: rgb(202, 202, 202);
    padding-left: 1ch;
    padding-right: 1ch;
    padding-bottom: 2ch;
    display: flex;
    flex-direction: column;
}

.projectInfoInput{
    
    border-top: solid 4px black;
    border-left: solid 4px black;
    border-bottom: solid 4px rgb(221, 221, 221);
    border-right: solid 4px rgb(221, 221, 221);;
}

#projectDescriptionInput{
    resize: none;
}

#projectDescriptionInput{
    display: block;
}

.dateInputContainer{
    margin-top: 1ch;
    margin-bottom: 1ch;
  
}

.dateInputContainer > label {
    margin-right: 1ch;
    display: block;
}

.blockLabel{
    display: block;

}

.inputTopContainer{
    display: flex;
    gap: 3ch;
    justify-content: space-between;
    margin-right: 1ch;
}

.titleDivit{

    width: 100%;
    margin-top: 2ch;
    border-top: 4px solid black;
    border-left: 4px solid black;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
}

.inputTopContainer input {
    width: 100%;
}

.creationLayout{
    margin-left: 1ch;
    margin-right: 1ch;
    background-color: white;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid rgb(170, 170, 170);
    border-bottom: 2px solid rgb(221, 221, 221);
    display: flex;
     max-height: 70dvh;
     overflow-y: scroll;
    flex-direction: column;
    gap: 4ch;
    padding-left: 1ch;
    margin-top: 1ch;
    padding-top: 1ch;
    padding-bottom: 1ch;
}

.textToolsCreationLayout{
    display: flex;
    margin-right: 1ch;
    gap: 5ch;
}


.mediaProjectContainer{
    
    width: fit-content;
    display: flex;
    gap: 2ch;
}

.projectCreationText{
    margin: 0;
    padding: 0;
}

.imageUploadContainer{
    background-color: rgb(145, 145, 145); 
    height: fit-content;

}

.imageRemoveButton{
    border-top: solid 2px white;
    border-left: solid 2px white;
    border-bottom: solid 2px black;
    background-color: rgb(223, 223, 223);
    border-right: solid 2px black;
}

.imageRemoveButton:hover{
    cursor: pointer;
    border-left: solid 2px black;
    border-right: solid 2px white;
    border-top: solid 2px black;
    border-bottom: solid 2px white;
    background-color: rgb(175, 175, 175);
}

.deleteSelector{
    border-top: 2px solid white ;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: 2px solid white;   
    margin-right: 1ch;

}

.imageBlockLabel{
    display: block;

}

.imageUploadContainer{
    padding-left: 1.5ch;
    padding-right: 1.5ch;
    padding-bottom: 1.5ch;
    margin-right: 2ch;
    box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.75);
    background-color: rgb(202, 202, 202); 
}

.imageInnerContainer{
       background-color: rgb(223, 223, 223);
       border-top: 4px solid black;
       border-left: 4px solid black;
       border-bottom: 4px solid white;
       border-right: 4px solid white;
       padding: 1ch;
}

#imageUploader{
    background-color: white;
    border-top: 2px solid black ;
    border-left: 2px solid black;
    border-bottom: 2px solid gainsboro;
    border-right: 2px solid gainsboro;
}

.imagePageTitle{
    display: inline;
    width: fit-content;
    color: black;
}

.pageButtonContainerImage{
    display: inline-block;
    margin-left: auto;
}

.imageUploadContainerHeader{
    display: flex;
}

.mediaProjectRight{
    display: flex;
    flex-direction: column;
    gap: 4ch;

}

.externalLinkUploader{

    margin-right: 2ch;
    box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.75);
    background-color: rgb(223, 223, 223);
    padding-bottom: 1ch;
}

.externalLinkUploaderTitle{
    display: flex;
    background-color: rgb(145, 145, 145); 
    border-bottom: 2px solid white;
    padding-left: 1ch;

}

#externalGithubImage{
    height: 20px;
    width: 20px;
}

#projectGithubInput, #projectYoutubeInput{
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    margin-left: 1ch;
    margin-right: 1ch;
}

#createProjectSubmitButton{
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 3px 3px 0px -1px rgba(0, 0, 0, 0.75);
    border-top: 2px solid gray ;
    border-left: 2px solid gray;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    background-color: rgb(223, 223, 223);

}

#createProjectSubmitButton:hover{
    scale: 1.1;
    cursor: pointer;;
}


.mediaLabel{
    margin-left: 1ch;
}