.projectsShortcutContainerList{
    margin-left: 1ch;
    margin-right: 1ch;
    background-color: white;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid rgb(170, 170, 170);
    border-bottom: 2px solid rgb(221, 221, 221);
    display: flex;
    flex-wrap: wrap;
    gap: 4ch;
    padding-left: 1ch;
    margin-top: 1ch;
    padding-top: 1ch;
    
}

.projectsShortcutContainer .shortcutTitle{
    color: rgb(110, 110, 110);
}

.dropdownTab{
    display: inline;
    width: fit-content;
    margin-left: 2ch;
    
}

.projectsLoader{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1ch;
}

@media (max-width: 767.98px) {
  /* Styles for larger phones */
    .projectFlex{
        max-height: calc(70vh - var(--bottom-nav-height) - var(--top-nav-height));
    }
}

@media (max-height: 650px) {
    .projectFlex{
        max-height: calc(100vh - var(--bottom-nav-height) - var(--top-nav-height));
    } 
}
