@import "./variables.css";

.singularBlogContent{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 3ch;
    max-height: 70dvh;
    overflow-y: scroll;
}

.singleBlogTitle{
    margin: 0;
    padding: 0;
    display: block;
}

h4.singleBlogTitle{
    color: rgb(175, 175, 175)
}

#singleBlogPageImage{
    max-width: 95%;
    max-height: 30ch;
    margin-left: auto;
    margin-right: auto;
    border-top: solid gainsboro 2px;
    border-left: solid gainsboro 2px;
    box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.75);
}

#markdown{
    border-top: solid black 2px;
    display: block;
}

#blogEditButton{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.75);
}

#blogEditButton:hover{
    cursor: pointer;
}


@media screen and (orientation: portrait) and  (max-width: 767.98px) {
  /* Styles for larger phones */
    .singularBlogContent{
        max-height: calc(80vh * var(--vh) - var(--top-nav-height) -   var(--bottom-nav-height));
    }
}

/* Phones in landscape */
@media screen and (orientation: landscape) and (max-height: 500px) {
  /* Your styles here */

    .singularBlogContent{
        max-height: 100vh;
    }
}