.tabContainer{
    display: flex;
    background-color: rgb(202, 202, 202);
    box-shadow: 4px 4px 0px -1px rgba(141, 141, 141, 0.75);
    border-top: 2px solid white;
    border-left: 2px solid white;
    margin-right: 1ch;
    margin-top: 0.5ch;
    margin-bottom: 0.5ch;
    align-items: center;
    min-width: 10%;
    max-width: 25%;
}

.tabContainer:hover{
    box-shadow: none; 
    cursor: pointer;
    background-color: rgb(158, 158, 158);
    outline: 1px solid white;
    border-top: 2px solid black;
    border-left: 2px solid black;
}


.closeTabButton{
    padding-top: 0.5ch;
    padding-bottom: 0.25ch;
    color: black;
    border-top: solid 2px white;
    border-left: solid white 2px;
    background-color: rgb(223, 223, 223);
    margin-left: auto;
    margin-right: 1ch;
    transition: scale 0.3s ease;
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.75);
}

.closeTabButton:hover{
    scale: 1.2;
    cursor: pointer;
    background-color: rgb(110, 110, 110);
    border-top: solid 2px black;
    border-left: solid black 2px;
    box-shadow: 1px 1px 0px 0px rgb(255, 255, 255);
    border-bottom: none;
    border-right: none;
    
}


.tabImage{
    display: inline;
}

.tabTitle{
    display: inline;
    padding: 0;
    margin: 0;
    vertical-align: middle;
    color: black;
    margin-left: 2ch;
    font-weight: normal;
    font-size: 1.75ch;
}