.adminToolPageContainer{
    background-color: white;
    margin: 1ch;
    padding: 1ch;
    border-top: solid black 3px;
    border-left: solid black 3px;
    border-bottom: solid gainsboro 3px;
    border-right: solid gainsboro 3px;
    max-height: 70dvh;
    overflow-y: scroll;
}


.toolBlockLabel{
    display: block;

}

.toolCreationInputContainer{
    background-color: rgb(202, 202, 202);
    padding-left: 1ch;
    padding-right: 1ch;
    padding-bottom: 2ch;
    margin-top: 2ch;
    width: fit-content;
    box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.75);
    
}

#createToolTitle{
    margin-top: 0.5ch;
    margin-bottom: 0.5ch;
}

#currentToolImageDisplay{
    max-width: 250px;
    max-height: 250px;
    margin-top: 1ch;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: solid black 2px
}

#toolEditorForm{
    background-color: rgb(223, 223, 223);
    padding: 1ch;
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: solid white 3px;
    border-bottom: solid white 3px;
    overflow-y: scroll;
    max-height: 50ch;
}

.toolCreateInput{
    width: 98%;
    border-top: solid black 4px;
    border-bottom: solid gainsboro 4px;
    border-right: solid gainsboro 4px;
    border-left: solid 4px black;

}

#toolSubmit{
    display: block;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.75);
    margin-top: 1ch;
}

#toolSubmit:hover{
    cursor: pointer;
}

.toolPageContainer{
    max-width: 30ch;
    max-height: 30ch;
    overflow-y: scroll;
}

#toolEditButton{
    margin: 0;
    height: fit-content;
    display: block;
    border-top: solid 2px gainsboro;
    border-left: solid 2px gainsboro;
    box-shadow: 5px 5px 0px -1px rgba(0, 0, 0, 0.75);
}

#toolEditButton:enabled:hover{
    cursor: pointer;
    background-color: rgb(204, 204, 204);
    color: white;
}

#deleteTool{
    margin-top: 1ch;
    color: white;
    background-color: red;
}

#deleteTool:enabled:hover{
    background-color: brown;
    scale: 1.2;
    transition: scale 1s ease;
    cursor: pointer;
}